@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

.hero {
  background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  background-size: 175%;
  background-position: 46% 4%;
  justify-content: center;
  min-height: 846px;
  background-color: rgb(41, 65, 171);
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-header {
  text-align: center;
}

.hero-title {
  width: 800px;
  text-indent: -3.3em;
  transform: translate(125px);
  font-size: 156px;
  line-height: 166px;
  padding-bottom: 40px;
  letter-spacing: -0.04em !important;
  font-weight: 700;
  color: #1ed760;

}

.hero-subtitle {
  box-sizing: border-box;
  display: block;
  padding: 0px 0px 0.67em;
  margin-top: 0px;
  color: #1ed760;
  font-weight: 500;
  margin-bottom: 0px;
}

.hero-cta {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  user-select: none;
  padding: 0px;
  align-self: center;
  padding-top: 3em;
}

.hero-cta:hover {
  transition: transform .2s;
  transform: scale(1.1);
}

.button {
  background-color: #1ed760;
  color: #2941ab;
  text-decoration: none;
  border-radius: 500px;
  font-size: inherit;
  padding: 14px 32px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
