@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* footer */

.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: black;
  padding: 70px 0;
}

.footer-col {
  width: 20%;
  padding: 0 15px;
}

.footer-col h5 {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-weight: 500;
  position: relative;
}

.footer-col h5 a {
  font-size: 30px;
  color: white;
  margin: 0;
  text-decoration: none;
}


.footer-col ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease-in;
  margin: 0;
  padding: 3px 0 15px;
}

.footer-col ul li a:hover {
  color: #1ed760;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #222326;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #1ed760;
}


.country {
  margin: 0 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.country a {
  color: #919496;
  padding: 0;
  font-size: 12px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
}

.country a:hover {
  color: #1ed760;
}

.bottom-links {
  width: 100%;
  display: flex;
}

.bottom-links ul {
  margin: 0 45px 0 0;
  padding: 0 0 0 15px;
}

.bottom-links ul li {
  margin-right: 24px;
  padding: 0;
  list-style: none;
  display: inline-block;
  line-height: normal;
  letter-spacing: 0;
}

.bottom-links ul li a {
  padding: 1em 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: #919496;
}

.bottom-links span {
  margin: 0 15px 0 auto;
  padding: 1em 0;
  font-size: 12px;
  flex-shrink: 0;
  color: #919496;
}

/* responsive footer */

@media(max-width: 950px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
